.mainFrame {
	min-height: 100vh;
}
.sider {
	height: 100vh;
	position: fixed !important;
	overflow: auto;
	left: 0;
}
.logo {
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.logoIcon {
	height: 2.5rem;
	width: 2.5rem;
	background: url('../../assets/circle_dark.svg') no-repeat center center;
}

.logoName {
	font-size: 1.3rem;
}

.logoNameCollapsed {
	display: inline-block;
	opacity: 0;
	max-width: 0;
}

.pageWrapper {
	margin-left: 200px;
}

.pageWrapperCollapsed {
	margin-left: 80px;
}

.header {
	background: #fff !important;
	padding: 0 !important;
}

.pageContent {
	padding: 24px;
	background: #fff;
	min-height: 400px;
}

.content {
	margin: 0 16px;
}

.breadcrumb {
	margin: 16px 0 !important;
}

.footer {
	text-align: center;
}
